<div style="margin-bottom: 20px; width:35%" class="instructions1">
    <span style="color:#FE7778;"> My Hobbies: </span>
<div style="margin-left: 15px;">
    <img src="/library.gif" style="width: 70%;"    />
    <img src="/movie.gif" style="width: 70%;"  />
    <img src="/travel.gif" style="width: 70%;"  />
</div>
    


</div>

<style>
    .instructions1 {
  border: 1px solid rgba(var(--accent-light), 25%);
  background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}
.instructions1:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: orangered;
}
</style>
