<div style="margin-top: 40px;">
    <span style="color:#FE7778;">Find my works:</span> 
     <div class="portfolio-socials-row " >
       <a href="https://www.linkedin.com/in/authiselvi-meenakshi-ganesan-a74306210/" target="_blank">
           <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=FFFFFF" alt="LinkedIn" class="img_works" style="width: 50px; height: auto;">
       </a>
       <a href="https://github.com/Authiselvi" target="_blank">
           <img src="https://img.icons8.com/?size=100&id=12599&format=png&color=FFFFFF" alt="GitHub" class="img_works" style="width: 50px; height: auto;">
       </a>
       <a href="https://leetcode.com/u/wolfskin2001/" target="_blank">
           <img src="https://img.icons8.com/?size=100&id=OUPsEPLKIebZ&format=png&color=FFFFFF" alt="Medium" class="img_works" style="width: 50px; height: auto;">
       </a>
   
   </div>
</div>

<style>
    	.portfolio-socials-row {
    
    display: flex; 
     padding-right: 10px; 
 padding-top: 10px;}
 
     .portfolio-socials-row a {
     
     padding-right: 15px; }
     .img_works:hover {
      animation: jump 0.5s infinite;
    }

    @keyframes jump {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
	

    /* Additional styling for demonstration */
    .portfolio-socials-row {
      display: flex;
      gap: 10px;
    }

</style>
  