<div class="flex flex-col gap-2">
  <p class="text-2xl font-light">
    Hi, I'm Authiselvi, a front-end software developer from India.
    My primary tools of choice include:
    <ul class="list-disc list-inside pl-4 " style="margin-left: 10px;margin-top: 10px;">
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="list-link" style="text-decoration: none;">
      <li>JavaScript 
      <img src="https://img.icons8.com/?size=100&id=at7la0lBmTxn&format=png&color=FFFFFF" alt="JavaScript Icon">
      </li>
    </a>
    <a href="https://reactjs.org/docs/getting-started.html" target="_blank" class="list-link" style="text-decoration: none;">
      <li>React 
      <img src="https://img.icons8.com/?size=100&id=8Zh5DU6pm3W3&format=png&color=FFFFFF" alt="React Icon">
      </li>
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" class="list-link" style="text-decoration: none;">
      <li>HTML 
      <img src="https://img.icons8.com/?size=100&id=23028&format=png&color=FFFFFF" alt="HTML Icon">
      </li>
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" class="list-link" style="text-decoration: none;">
      <li >CSS 
      <img src="https://img.icons8.com/?size=100&id=1045&format=png&color=FFFFFF" alt="CSS Icon">
      </li>
    </a>
    <a href="https://tailwindcss.com/docs" target="_blank" class="list-link" style="text-decoration: none;">
      <li>Tailwind 
      <img src="https://img.icons8.com/?size=100&id=qOFWMoaAQIdR&format=png&color=FFFFFF" alt="Tailwind Icon">
      </li>
    </a>
    <a href="https://nextjs.org/docs" target="_blank" class="list-link" style="text-decoration: none;">
      <li>Next.js 
      <img src="https://img.icons8.com/?size=100&id=11420&format=png&color=FFFFFF" alt="Next.js Icon">
      </li>
    </a>
    <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank" class="list-link" style="text-decoration: none;">
      <li>Bootstrap 
      <img src="https://img.icons8.com/?size=100&id=OODqBWCdRF8o&format=png&color=FFFFFF" alt="Bootstrap Icon">
      </li>
    </a>
    </ul>
  </p>
  <p class="text-2xl font-light" style="padding-top: 15px;">
    <span>While I often use JavaScript and React.js, I believe in choosing the best tool for each project, even if it means exploring <i class="fas fa-search icon" style="color:#FE7778;"></i> new technologies.</span>
  </p> 
  <p class="text-2xl font-light" style="padding-top: 15px;">
  
    I am dedicated to finding the perfect solution for every project, blending curiosity and creativity to transform <i class="fas fa-lightbulb" style="color:#FE7778;"></i> ideas  into impactful experiences.

Let’s bring your vision to life with the right blend of technology and creativity.
  </p>
  </div>

  <style>
    .list-disc li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    list-style: none; 
    margin-left: 10px; 
    position: relative; 
}

.list-disc li:hover {
    text-decoration: underline ;
	color:#FE7778;
	
}

.list-disc li::before {
    content: '•'; 
    color: white;
    font-size: 1.2em; 
    position: absolute; 
    left: -20px; 
}

.list-disc img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin: 3px;
	transition: transform 0.3s ease;
}
    

.list-disc img:hover {
    transform: translateY(-10px);
  }

  a {
  color: inherit;
}
  </style>